@Amarillo-Quemado:#EFB810;
@Rojo-Oscuro:#b00000;
@Verde-manzana:#84c402;
@Blanco-W:Whitesmoke;

.margenes-T-B (@Mtop, @Mbottom){
    margin-top: @Mtop;
    margin-bottom: @Mbottom;
}
.padding-T-B (@Ptop, @Pbottom){
    padding-top: @Ptop;
    padding-bottom: @Pbottom;
}

.jumbotron {
    background-image: url('../Images/Mercado_Home2.png');
    color: black;
    .padding-T-B(30px,30px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jumbotron-titulo{
    color:@Amarillo-Quemado;
    font-size: 4rem;
    -webkit-text-stroke: 0.2rem black;
}
.footer {
    padding: 30px 30px 0px 50px;
    background-color: #292b2c;
    .margenes-T-B(10px,0px);
    margin-right: 0px;
}
.card-market {
    flex: 1 200px;
    margin-top: 30px;
}
.btn-comprar {
    width: 100%;
    border-radius: 0px;
    background-color: rgb(12, 139, 12);
    border-color: rgb(12, 139, 12);
    color: white;
}
.footer-address-icon{
    padding-right: 10px;
    color:#fffb15;
}
.btn-newsletter{
    border-color:#fffb15;
    color:#fffb15;
}
.btn-newsletter:hover {background-color: #fffb15;}

body { padding-top: 56px; }

.alerta{ 
    .margenes-T-B(0px,1px);
}
.barra-progresiva{
    height: 40px;
    .margenes-T-B(20px,20px);
}
.precios-carne-res-mayor{
    color: @Blanco-W;
    background-color: rgb(177, 33, 33);
}
.precios-carne-cerdo-mayor{
    color: @Blanco-W;
    background-color: #2474b4;
   }
.precios-carne-pollo-mayor{
    color: @Blanco-W;
    background-color: #5cb45c;
}
.amarillo-quemado{
    color:#EFB810 ;
}
.saninfomax{
    text-align: center;
}
.btn-cobertura{
    width: 100%;
    background-color: #ffc107;
}.btn-cobertura:hover{
    background-color: rgb(226, 220, 220);
    border-color: black;
    color: black;
}
.amarillo{
    color:#fffb15;
}
.verde{
    color: green;
}
.gris{
    color:gray;
}
.blanco{
    color:@Blanco-W;
}
.blanco-footer{
    color: @Blanco-W;
}
.blanco-footer:hover{color: #fffb15;}
.rojo{
    color: rgb(177, 33, 33);
}