.jumbotron {
  background-image: url("../Images/Mercado_Home2.jpg");
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.jumbotron-titulo {
  color: #EFB810;
  font-size: 4rem;
  -webkit-text-stroke: 0.2rem black; }

.footer {
  padding: 30px 30px 0px 50px;
  background-color: #292b2c;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px; }

.card-market {
  flex: 1 200px;
  margin-top: 30px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px;
  background-color: #0c8b0c;
  border-color: #0c8b0c;
  color: white; }

.footer-address-icon {
  padding-right: 10px;
  color: #fffb15; }

.btn-newsletter {
  border-color: #fffb15;
  color: #fffb15; }

.btn-newsletter:hover {
  background-color: #fffb15; }

body {
  padding-top: 56px; }

.alerta {
  margin-top: 0px;
  margin-bottom: 1px; }

.barra-progresiva {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px; }

.precios-carne-res-mayor {
  color: Whitesmoke;
  background-color: #b12121; }

.precios-carne-cerdo-mayor {
  color: Whitesmoke;
  background-color: #2474b4; }

.precios-carne-pollo-mayor {
  color: Whitesmoke;
  background-color: #5cb45c; }

.amarillo-quemado {
  color: #EFB810; }

.saninfomax {
  text-align: center; }

.btn-cobertura {
  width: 100%;
  background-color: #ffc107; }

.btn-cobertura:hover {
  background-color: #e2dcdc;
  border-color: black;
  color: black; }

.amarillo {
  color: #fffb15; }

.verde {
  color: green; }

.gris {
  color: gray; }

.blanco {
  color: Whitesmoke; }

.blanco-footer {
  color: Whitesmoke; }

.blanco-footer:hover {
  color: #fffb15; }

.rojo {
  color: #b12121; }

/*# sourceMappingURL=styles.css.map */
